<h1><%= @speaker.name %></h1>
<ul>
<% @speaker.sessions.each do | session | %>
	<li><%= link_to session.title, session %>, <%= link_to session.conference.title, session.conference =%></li>
	<% end %>	
</ul>